
body{
    background-color: #588157;
    color: #dad7cd;
    overflow: hidden;
}
h1{
    font-weight: bold;
    font-family: 'Lora', serif;
}
.text-p{
    /*font-family: 'Roboto Slab', serif;*/
    font-size: 19px;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: left; 
    height: 100vh;
    width: 50%;
}

.cont-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: right; 
    height: 100%;
    width: 50%;
}
.img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 99vh;
}
.text-p{
    text-align: center;
    text-decoration:none;
    width: 70%;
}
.button{
    padding: 15px 33px;
    background-color: #344E41;
    color: #dad7cd;
    border-radius: 10px;
}
.button:hover{
    transition: 0.5s;
    background-color: #A3B18A;
    color: #f1ecd9;
    border: 1px solid #dad7cd;
    box-shadow: 0px 0px 20px 0px #f1ecd982;
}
a{
    text-decoration: dotted;
}

@media only screen and (max-width: 600px) {
  }

/*-----------------------------*/
/* ----------TELA 2------------*/
/*-----------------------------*/

.fundo {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url('Imgens-Plantas/fundo-plantas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.cont-back {
    position: absolute;
    top: 90%;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.back {
    padding: 15px 33px;
    background-color: #344E41;
    color: #dad7cd;
    border-radius: 10px;
}

.back:hover {
    background-color: #A3B18A;
    color: #f1ecd9;
    border: 1px solid #dad7cd;
    transition: 0.5s;
    box-shadow: 0px 0px 15px 0px #f1ecd985;
}

.main-btn {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}

.main-btn > div{
    flex: 1 1 200px;
    margin: 10px;
}

.item {
    width: 100%;
    margin: 10px;
    box-sizing: border-box;
}

.imagem-btn {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin: auto;
    z-index: 1;
}

.planta-btn {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.5s ease-in-out;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .item {
        width: calc(33.33% - 20px);
    }

    .planta-btn {
        width: 250px;
    }
    .imagem-btn {
        max-width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
        margin: auto;
        z-index: 1;
    }
}

.planta-btn:hover {
    box-shadow: rgba(52, 173, 60, 0.49) 0px 3px 8px;
}

.planta-btn:hover .text-btn {
    height: 270px;
    margin-top: -260px;
}

.planta-btn img {
    transition: .3s ease;
}

.planta-btn:hover img {
    transform: scale(1.2) rotate(-5deg);
}

.text-btn {
    background: #000000aa !important;
    border-radius: 0;
    position: absolute;
    display: grid;
    place-items: center;
    width: 250px;
    height: 50px;
    margin-top: -50px;
    color: white;
    transition: .5s ease;
}

@media screen and (min-width: 1024px) /*Computador*/ {
}
@media screen and (min-width: 768px) and (max-width:1023px) /*Tablet*/{
}
@media screen and (max-width: 767px) /*Celular*/{
}


/*-------------------*/
/*-----Js------------*/
/*-------------------*/

.slider-container {
    width: 50%;
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    background-color: #A3B18A;
}
.slide-btn{
    padding: 10px 20px;
    background-color: #344E41;
    color: #f1ecd9;
}
.rigth{
    float: right;
}
.slide {
    text-align: center;
    width: 100%;
    display: none;
}

img {
    height: 500px;
    border-radius: 10px;
}
