
body {
    background-image: url(imagens/fundoterrestre.jpg);
  }
  
  @media (max-width: 960px) {
    body {
        background-image: url(imagens/abelha.jpg);
      }
    }
    
    @media (min-width: 961px) {
        body {
            background-image: url(imagens/fundo.jpg);
          }
    }
