
  @media screen and (min-width: 400px) {
    .intro {
        color: red;
        font-size: 20px;
    }
  }
  
  @media screen and (min-width: 800px) {
    .intro {
        color: blue;
        font-size: 20px;
    }
  }
