
body {
    background-image: url(imagens/fundo.jpg);
  }
  
  @media screen and (min-width: 400px) {
    body {
        background-image: url(imagens/abelha.jpg);
    }
  }
  
  @media screen and (min-width: 800px) {
    body {
        background-image: url(imagens/fundoterrestre.jpg);
    }
  }