.wrap {
    display: grid;
    place-items: center;
}

.sintoma {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 25px;
    background-color: rgba(255, 255, 255, 0.614);
    border-radius: 20px;
    padding: 25px;
}
.links {
    background-color: blue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 900px;
  }
  .links :hover{
    background-color: red;
  }
.imagem_animal {
    width: 400px;
    display: grid;
}
.imagem_animal img {
    display: block;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    border-radius: 20px;
}
.conteudo_sintomas {
    display: grid;
    grid-template-rows: auto 1fr;
}


.conteudo_sintomas .titulo {
    width: 100%;
    text-align: left;
}

.conteudo {
    text-align: left;
}

.conteudo ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: square;
}
.Habitatarmadeira{
    background-image: url("imagens/habitatarmadeirajpg.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover;
}
.habitateReal {
    background-image: url("imagens/FlorestaTropical.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover;
}
.habitatformiga{
    background-image: url("imagens/formigueiro.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover;  
}
.habitatbarbeira{
    background-image: url("imagens/FlorestaTropical.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover; 
}
.habitatmosca{
    background-image: url("imagens/rural.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover; 
}
.habitatvespa{
    background-image: url("imagens/ninho.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover; 
}
.habitatecoral{
    background-image: url("imagens/Areaabertamata.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover; 
}
.habitatecascavel {
    background-image: url("imagens/pedra_furada_piaui.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover;
}
.habitatejararaca {
    background-image: url("imagens/habitat\ jararaca.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover;
}
.habitategrama {
    background-image: url("imagens/pastagem.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover;
}
.habitatcaranguejeira {
    background-image: url("imagens/caatinga.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover;
}
.habitatabelha {
    background-image: url("imagens/abelhafundo.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover;  
}
.habitatviuva {
    background-image: url("imagens/habitatviuva.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover;
}
.habitatmarrom {
    background-image: url("imagens/cerrado1.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover;
}
.habitatamarelo{
    background-image: url("imagens/pedras.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover;
}
.habitatemarinho {
    background-image: url("imagens/corais.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover; 
}
.habitatlacraia {
    background-image: url("imagens/temperado.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover;
}
.habitatlonina {
    background-image: url("imagens/atlantida.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover;
}
.habitatcarrapato {
    background-image: url("imagens/pelo.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover;
}
.habitatedengue {
    background-image: url("imagens/dengue.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover;
}
.habitatsambaqui {
    background-image: url("imagens/matadasaraucarias.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover;
}

h4 {
    text-align: center;
}
