body {
  background-color: #14213d;
  margin: 50px;
}
.icon{
  border-radius: 50%;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  margin: 8vh;
  width: 50vh;
  height: 50vh;
}

.icones {
  background-color: #e5e5e5;
  border-radius: 60px;
  height: 8vh;
  width: 8vh;
  margin: 5vh;
  padding: 5px;
}

button {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.btn {
  border-radius: 10px;
  border: 2px solid #e5e5e5;
  font: 3vh bold;
  width: 100%;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  padding: 0%;
}

@media (max-width: 357px) {
  .btn {
    font: 2vh bold;
  }
  body {
    margin: 5px;
  }
  .logo {
    margin: 2vh;
    width: 30vh;
    height: 30vh;
  }
}

@media (max-width: 251px) {
  .icones {
    height: 6vh;
    width: 6vh;
    margin: 4vh;
  }
}
